{% include ("SIGLPlatformBundle:Platform:menu.html.twig") %}
<!DOCTYPE html>
<html>
<head>
    <title>Réponse au ticket</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
    <div style="background-image: url(/bundles/app/images/home_background.jpg); background-size: cover; background-repeat:no-repeat; background-position: center; height: 700px">
	<div class="row">
		<div style="background-color: #ffffff; margin-top: 10px; border-radius: 5%" class="col-md-4 col-md-offset-4">
            {% if state == 'accepte' %}
                <h1 style="text-align:center; margin-bottom: 20px">Date</h1>
                <div>{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}</div>
                <div>{{ form_errors(form) }}</div>
                <div style="text-align: center; display: block; margin: auto">{{ form_widget(form.date.date)}}</div>
                <div style="text-align: center; display: block; margin: auto">{{ form_widget(form.date.time)}}</div>
                <div style="text-align: center; display: block; margin: auto">{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}</div>
                {{ form_end(form) }}
            {% elseif state == 'refuse' %}
                <h1 style="text-align:center; margin-bottom: 20px">Justification</h1>
                <div>{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}</div>
                <div>{{ form_errors(form) }}</div>
                <div>{{ form_row(form.justification)}}</div>
                <div style="text-align: center; display: block; margin: auto">{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}</div>
                {{ form_end(form) }}
            {% endif %}
		</div>
	</div>
</div>
</body>
</html>