{% include ("SIGLPlatformBundle:Platform:menu.html.twig") %}

<!DOCTYPE html>
<html>
<head>
    <title>Customers</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
    <div style="background-image: url(/bundles/app/images/home_background.jpg); background-size: cover; background-repeat:no-repeat; background-position: center; height: 700px">
	<div class="row">
		<div style="background-color: #ffffff; margin-top: 10px; border-radius: 5%" class="col-md-4 col-md-offset-4">
            <h1 style="text-align:center; margin-bottom: 20px">Liste des clients</h1>
            <p style="text-align: center"><i>Tous les utilisateurs inscrits</i></p>
                <!-- Default box -->
                <div class="box box-primary" spinner="loader">
                    <div class="box-body">
                        <!-- Grid -->
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <tr>
                                    <th>Blacklist</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Actions</th>
                                </tr>
                                {% for customer in customers %}
                                <tr>
                                    <td>
                                        {% if customer.blacklist %}
                                            Blacklisté
                                        {% else %}
                                            Non blacklisté
                                        {% endif %}
                                    </td>
                                    <td>{{ customer.lastname }}</td>
                                    <td>{{ customer.firstname }}</td>
                                    <td>
                                        {% if customer.blacklist %}
                                            <a href="{{ path('sigl_platform_customer_blacklist', {'id': customer.id, 'state': 0}) }}">Dé-blacklister</a>
                                        {% else %}
                                            <a href="{{ path('sigl_platform_customer_blacklist', {'id': customer.id, 'state': 1}) }}">Blacklister</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                <!-- /.box-body -->
                </div>
        <!-- /.box -->
        </div>
	</div>
    </div>
</body>
</html>