<!--!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>An Error Occurred: 404</title>
</head>
<body>
    <h1>Oops! An Error Occurred: 404</h1>
    <h2>The server returned an error. NOT FOUND</h2>
</body>
</html-->

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body><!--p>/bundles/app/images/not_found.jpg</p-->
    <div style="background-image: url(../../../../../../web/bundles/app/images/not_found.jpg); background-size: cover; background-repeat:no-repeat; background-position: center; height: 700px">
    </div>
</body>
</html>