{% include ("SIGLPlatformBundle:Platform:menu.html.twig") %}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
    <div style="background-image: url(/bundles/app/images/home_background.jpg); background-size: cover; background-repeat:no-repeat; background-position: center; height: 700px">
	<div class="row">
		<div style="background-color: #ffffff; margin-top: 10px; border-radius: 5%" class="col-md-4 col-md-offset-4">
			<h1 style="text-align:center; margin-bottom: 20px">BOB & Co</h1>
			<p style="text-align: center"><i>Nettoyer vos biens n'aura jamais été aussi simple !</i></p>
            {% if app.user == null %}
                <br>
                <a class="btn btn-light" style="display: block; margin: auto" href="{{ path('login') }}">Se connecter</a>
                <br>
                <a class="btn btn-light" style="display: block; margin: auto" href="{{ path('sigl_platform_account_create') }}">S'inscrire</a>
                <br>
            {% endif %}
		</div>
	</div>
</div>
</body>
</html>