{% include ("SIGLPlatformBundle:Platform:menu.html.twig") %}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
    <div style="background-image: url(/bundles/app/images/home_background.jpg); background-size: cover; background-repeat:no-repeat; background-position: center; height: 700px">
	<div class="row">
		<div style="background-color: #ffffff; margin-top: 10px; border-radius: 5%" class="col-md-4 col-md-offset-4">
			<h1 style="text-align:center; margin-bottom: 20px">Se connecter</h1>
                {% if error %}
                    <div class="alert alert-danger">{{ error.message }}</div>
                {% endif %}

                <form action="{{ path('login_check') }}" method="post">
                    <div class="form-group">
                        <label for="username">Adresse mail :</label>
                        <input type="email" class="form-control" id="username" name="_username" value="{{ last_username }}" />
                    </div>
                    <br>

                    <div class="form-group">
                        <label for="password">Mot de passe :</label>
                        <input type="password" class="form-control" id="password" name="_password" />
                    </div>
                    <br>

                    <div style="text-align: center">
                        <button type="submit" class="btn btn-primary">Connexion</button>
                    </div>
                    <br>
                    <!--input type="submit" value="Connexion" /-->
                </form>
		</div>
	</div>
</div>
</body>
</html>