<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: white;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>
</head>
<body>
	<ul style>
        {% if app.user %}
            <li><a href="{{ path('sigl_platform_account_home') }}">Mon compte</a></li>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li><a href="{{ path('sigl_platform_customers') }}">Liste des utilisateurs</a></li> <!--p> POUR BOB </p-->
                <li><a href="{{ path('sigl_platform_admin_tickets') }}">Liste des interventions</a></li> <!--p> POUR BOB </p-->
                <li><a href="{{ path('sigl_platform_agenda') }}">Agenda</a></li> <!--p> POUR BOB </p-->
            {% elseif is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('sigl_platform_building_add', {'idUser': app.session.id}) }}">Ajouter un bâtiment</a></li> <!--p> POUR CLIENT </p-->
                <li><a href="{{ path('sigl_platform_ticket_add') }}">Demande d'intervention</a></li> <!--p> POUR CLIENT </p-->
                <li><a href="{{ path('sigl_platform_tickets', {'idUser': app.session.id}) }}">Liste de mes interventions</a></li> <!--p> POUR CLIENT </p-->
                <li><a href="{{ path('sigl_platform_notification') }}">Notifications</a></li> <!--p> POUR CLIENT </p-->
            {% endif %}
            <li><a href="{{ path('logout') }}">Déconnexion</a></li>
            Connecté en tant que {{ app.user.firstname }} {{ app.user.lastname }}
        {% else %}
            <li><a href="{{ path('sigl_platform_homepage') }}">Accueil</a></li>
            <li><a href="{{ path('sigl_platform_account_create') }}">S'inscrire</a></li>
            <li><a href="{{ path('login') }}">Se connecter</a></li>
        {% endif %}
	</ul>
</body>
</html>