{% include ("SIGLPlatformBundle:Platform:menu.html.twig") %}

<!DOCTYPE html>
<html>
<head>
    <title>Notifications</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
    <div style="background-image: url(/bundles/app/images/home_background.jpg); background-size: cover; background-repeat:no-repeat; background-position: center; height: 700px">
	<div class="row">
		<div style="background-color: #ffffff; margin-top: 10px; border-radius: 5%" class="col-md-4 col-md-offset-4">
			<h1 style="text-align:center; margin-bottom: 20px">Notifications</h1>
			<p style="text-align: center"><i></i></p>
                {% for notif in notifs %}
                    {% for n in notif %}
                        <a style="display: block; margin: auto" href="{{ path('sigl_platform_ticket', {'id': n.ticket.id}) }}">Ticket numéro {{ n.ticket.id }}</a><br>
                        <div>Adresse : {{ n.ticket.building.address }}</div>
                        <br>
                        <div>Etat : {{ n.ticket.state }}</div>
                        <br>
                        <div>{% if n.ticket.state == 'accepte' %}
                            Date : {{ n.date|date('d-m-Y H:i') }}
                        {% elseif n.ticket.state == 'refuse' %}
                            Justification : {{ n.justification }}
                        {% endif %}</div>
                        <br>
                    {% endfor %}
                {% endfor %}
		</div>
	</div>
</div>
</body>
</html>