{% include ("SIGLPlatformBundle:Platform:menu.html.twig") %}

<!DOCTYPE html>
<html>
<head>
    <title>Profil utilisateur</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
    <div style="background-image: url(/bundles/app/images/home_background.jpg); background-size: cover; background-repeat:no-repeat; background-position: center; height: 700px">
	<div class="row">
		<div style="background-color: #ffffff; margin-top: 10px; border-radius: 5%" class="col-md-4 col-md-offset-4">
            <h1 style="text-align:center; margin-bottom: 20px">Modifier votre profil</h1>
            <p style="text-align: center"><i></i></p>
            <div style="text-align: center; display: block; margin: auto">Utilisateur {{ user.id }}</div>
            <br>
            <div>Nom: {{ user.lastname }}</div>
            <br>
            <div>Prénom: {{ user.firstname }}</div>
            <br>
            <div>Adresse mail: {{ user.email }}</div>
            <br>
            <div>Numéro de téléphone: {{ user.phone }}</div>
            <br>
            <div>Adresse: {{ user.address }}</div>
            <br>
            <div>
            {% if is_granted('ROLE_ADMIN') %}
                Adresses de bâtiment:
                <br>
                {% for building in user.buildings %}
                    <div style="text-align: center; display: block; margin: auto">{{ building.address }}</div><br>
                {% endfor %}
            {% endif %}
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div style="text-align: center; display: block; margin: auto"><a href="{{ path('sigl_platform_building_add', {'idUser': app.session.id}) }}">Ajouter un bâtiment</a></div>
                <br>
            {% endif %}
            <div style="text-align: center; display: block; margin: auto"><a href="{{ path('sigl_platform_account_update') }}">Modifier ses informations</a></div>
        </div>
	</div>
    </div>
</body>
</html>