{% include ("SIGLPlatformBundle:Platform:menu.html.twig") %}

<!DOCTYPE html>
<html>
<head>
    <title>Tickets</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
    <div style="background-image: url(/bundles/app/images/home_background.jpg); background-size: cover; background-repeat:no-repeat; background-position: center; height: 700px">
	<div class="row">
		<div style="background-color: #ffffff; margin-top: 10px; border-radius: 5%" class="col-md-4 col-md-offset-4">
            <h1 style="text-align:center; margin-bottom: 20px">Liste de mes tickets</h1>
            <p style="text-align: center"><i></i></p>
                <!-- Default box -->
                <div class="box box-primary" spinner="loader">
                    <div class="box-body">
                        <!-- Grid -->
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <tr>
                                    <th>ID</th>
                                    <th>Utilisateur</th>
                                    <th>Adresse</th>
                                    <th>Statut</th>
                                    <th>Actions</th>
                                </tr>
                                {% for ticket in tickets %}
                                <tr>
                                    <td><a href="{{ path('sigl_platform_admin_ticket', {'id': ticket.id}) }}">{{ ticket.id }}</a></td>
                                    <td>{{ ticket.user.firstname }} {{ ticket.user.lastname }}</td>
                                    <td>{{ ticket.building.address }}</td>
                                    <td>
                                        {% if ticket.state == 'traite' %}
                                            Traité
                                        {% elseif ticket.state == 'accepte' %}
                                            Accepté
                                        {% elseif ticket.state == 'en attente' %}
                                            En attente
                                        {% else %}
                                            Refusé
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if ticket.state == 'traite' %}
                                            Ticket traité
                                        {% elseif ticket.state == 'accepte' %}
                                            <a href="{{ path('sigl_platform_admin_ticket', {'id': ticket.id}) }}">Voir date d'intervention</a>
                                        {% elseif ticket.state == 'en attente' %}
                                            <a href="{{ path('sigl_platform_ticket_change_state', {'id': ticket.id, 'state': 'accepte'}) }}">Accepter</a>
                                            <br>
                                            <a href="{{ path('sigl_platform_ticket_change_state', {'id': ticket.id, 'state': 'refuse'}) }}">Refuser</a>
                                        {% else %}
                                            <a href="{{ path('sigl_platform_admin_ticket', {'id': ticket.id}) }}">Voir ma justification</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                <!-- /.box-body -->
                </div>
        <!-- /.box -->
        </div>
	</div>
    </div>
</body>
</html>