{% include ("SIGLPlatformBundle:Platform:menu.html.twig") %}

<!DOCTYPE html>
<html>
<head>
    <title>Ticket</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
    <div style="background-image: url(/bundles/app/images/home_background.jpg); background-size: cover; background-repeat:no-repeat; background-position: center; height: 700px">
	<div class="row">
		<div style="background-color: #ffffff; margin-top: 10px; border-radius: 5%" class="col-md-4 col-md-offset-4">
			<h1 style="text-align:center; margin-bottom: 20px">Ticket numéro {{ ticket.id }}</h1>
			<p style="text-align: center"><i></i></p>
                <div>Adresse : {{ ticket.building.address }}</div>
                <br>
                <div>Etage : {{ ticket.etage }}</div>
                <br>
                <div>
                    Orientation :
                    {% if ticket.orientation == 0 %}
                        Nord
                    {% elseif ticket.orientation == 1 %}
                        Nord-Nord-Est
                    {% elseif ticket.orientation == 2 %}
                        Nord-Est
                    {% elseif ticket.orientation == 3 %}
                        Est-Nord-Est
                    {% elseif ticket.orientation == 4 %}
                        Est
                    {% elseif ticket.orientation == 5 %}
                        Est-Sud-Est
                    {% elseif ticket.orientation == 6 %}
                        Sud-Est
                    {% elseif ticket.orientation == 7 %}
                        Sud-Sud-Est
                    {% elseif ticket.orientation == 8 %}
                        Sud
                    {% elseif ticket.orientation == 9 %}
                        Sud-Sud-Ouest
                    {% elseif ticket.orientation == 10 %}
                        Sud-Ouest
                    {% elseif ticket.orientation == 11 %}
                        Ouest-Sud-Ouest
                    {% elseif ticket.orientation == 12 %}
                        Ouest
                    {% elseif ticket.orientation == 13 %}
                        Ouest-Nord-Ouest
                    {% elseif ticket.orientation == 14 %}
                        Nord-Ouest
                    {% else %}
                        Nord-Nord-Ouest
                    {% endif %}
                </div>
                <br>
                <div>
                    {% if ticket.state == 'traite' %}
                        Ticket traité
                    {% elseif ticket.state == 'accepte' %}
                        Date {{ ticket.response.date|date('d-m-Y H:i') }}
                    {% elseif ticket.state == 'en attente' %}
                        <a href="{{ path('sigl_platform_ticket_change_state', {'id': ticket.id, 'state': 'accepte'}) }}">Accepter</a> |
                        <a href="{{ path('sigl_platform_ticket_change_state', {'id': ticket.id, 'state': 'refuse'}) }}">Refuser</a>
                    {% else %}
                        Justification {{ ticket.response.justification }}
                    {% endif %}
                </div>
		</div>
	</div>
</div>
</body>
</html>