{% include ("SIGLPlatformBundle:Platform:menu.html.twig") %}

<!DOCTYPE html>
<html>
<head>
    <title>Modification des informations</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
    <div style="background-image: url(/bundles/app/images/home_background.jpg); background-size: cover; background-repeat:no-repeat; background-position: center; height: 700px">
	<div class="row">
		<div style="background-color: #ffffff; margin-top: 10px; border-radius: 5%" class="col-md-4 col-md-offset-4">
            <h1 style="text-align:center; margin-bottom: 20px">Modification des informations</h1>
            <div>{{ form_start(formUser, {'attr': {'class': 'form-horizontal'}}) }}</div>
            <div>{{ form_errors(formUser) }}</div>
            <div>{{ form_row(formUser.firstname)}}</div>
            <div>{{ form_row(formUser.lastname)}}</div>
            <div>{{ form_row(formUser.phone)}}</div>
            <div>{{ form_row(formUser.address)}}</div>
            <div>{{ form_row(formUser.password)}}</div>
            <div style="text-align: center; display: block; margin: auto">{{ form_widget(formUser.save, {'attr': {'class': 'btn btn-primary'}}) }}</div>
            {{ form_end(formUser) }}
            <br>
        </div>
	</div>
    </div>
</body>
</html>