{% include ("SIGLPlatformBundle:Platform:menu.html.twig") %}

<!DOCTYPE html>
<html>
<head>
    <title>Modifier Ticket</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
    <div style="background-image: url(/bundles/app/images/home_background.jpg); background-size: cover; background-repeat:no-repeat; background-position: center; height: 700px">
	<div class="row">
		<div style="background-color: #ffffff; margin-top: 10px; border-radius: 5%" class="col-md-4 col-md-offset-4">
            <h1 style="text-align:center; margin-bottom: 20px">Modifier le ticket d'intervention</h1>
                <div>{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}</div>
                <div>{{ form_errors(form) }}</div>
                <div>{{ form_row(form.building)}}</div>
                <div>{{ form_row(form.etage)}}</div>
                <div>{{ form_row(form.orientation)}}</div>
                <div>{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}</div>
                {{ form_end(form) }}
            <br>
        </div>
	</div>
    </div>
</body>
</html>